<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My Tasks</h2>
      <ul class="list-group">
        <app-task [taskName]="taskOne"></app-task>
        <app-task [taskName]="taskTwo"></app-task>
        <app-task [taskName]="taskThree"></app-task>
      </ul>
      <button class="btn btn-success"
      [disabled]="!isAuth" 
      (click)="onClear">Clear All</button>
    </div>
  </div>
</div>